body {
  padding: 0 0;
  margin: 0 0; }

.header-wrap {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.header-wrap-logo {
  margin: 22px auto 0 135px;
  font-family: 'Lobster', cursive;
  font-size: 43px;
  color: #44c0c2; }

.header-wrap-menu {
  width: 85px;
  height: 61px;
  padding: 34px 0 0 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }
  .header-wrap-menu:last-child {
    margin-right: 135px; }
  .header-wrap-menu:hover {
    background: #f8f9fb;
    color: #44c0c2;
    border-bottom: 5px solid #44c0c2; }

.header-slaider {
  width: 100%;
  height: 565px; }

.owl-carousel-item {
  width: 100%;
  height: 565px;
  background: url(../img/slide-bg.png) round;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #fff; }
  .owl-carousel-item h3 {
    padding: 120px 0 0 0;
    margin: 0 0;
    font-size: 63px;
    font-weight: 600; }
  .owl-carousel-item p {
    margin: 0 0;
    padding: 30px 0 0 0;
    font-size: 23px; }
  .owl-carousel-item input {
    height: 62px;
    width: 230px;
    background: transparent;
    border: 3px solid #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    margin: 57px 0 0 0;
    color: #fff;
    font-size: 26px;
    letter-spacing: 1px;
    cursor: pointer; }

.owl-prev {
  position: absolute;
  width: 51px;
  height: 51px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #44c0c2;
  margin-left: 29px;
  background: #eee;
  text-align: center;
  font-size: 30px;
  top: -webkit-calc(50% - 20.5px);
  top: calc(50% - 20.5px);
  left: 0;
  margin: 0 0 0 29px; }
  .owl-prev img {
    margin: -webkit-calc((51px - 26px) /2);
    margin: calc((51px - 26px) /2); }

.owl-next {
  position: absolute;
  width: 51px;
  height: 51px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #44c0c2;
  margin-left: 29px;
  background: #eee;
  text-align: center;
  font-size: 30px;
  top: -webkit-calc(50% - 20.5px);
  top: calc(50% - 20.5px);
  right: 0;
  margin: 0 29px 0 0; }
  .owl-next img {
    margin: -webkit-calc((51px - 26px) /2);
    margin: calc((51px - 26px) /2); }

.body-team {
  min-height: 700px;
  text-align: center;
  font-family: 'Open Sans', sans-serif; }
  .body-team h3 {
    font-size: 42px;
    font-weight: 600;
    color: #4e525d;
    margin: 100px 0 120px 0; }

.body-team-wrap {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.body-team-wrap-part {
  height: 415px;
  margin: 0 20px;
  width: -webkit-calc(505px / 2);
  width: calc(505px / 2);
  color: #4e525d; }
  .body-team-wrap-part img {
    width: 200px;
    height: 200px;
    background: #868686;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 0; }
  .body-team-wrap-part h5 {
    margin: 70px 0 0 0;
    font-size: 22px;
    line-height: 1; }
  .body-team-wrap-part span {
    font-size: 14px;
    font-weight: 400; }
  .body-team-wrap-part p {
    margin: 25px 0 0 0;
    font-size: 14px;
    line-height: 1.75; }

.body-price-wrap {
  width: 100%;
  height: 740px;
  background: #868686;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.body-price-wrap-section {
  width: 370px;
  height: 515px;
  background: #fff;
  margin: 120px 16px 0 16px;
  text-align: center;
  font-family: 'Open Sans', sans-serif; }
  .body-price-wrap-section h4 {
    height: 55px;
    width: 100%;
    margin: 0 0;
    font-size: 26px;
    font-weight: 400;
    background: #485460;
    color: #fff;
    padding-top: 20px; }
  .body-price-wrap-section h5 {
    height: 50px;
    width: 100%;
    margin: 0 0;
    font-size: 20px;
    font-weight: 400;
    padding-top: 25px;
    color: #485460;
    background: #f8f9fb; }
  .body-price-wrap-section table {
    text-align: center;
    width: 100%;
    font-size: 14px;
    border-top: 1px solid #eee;
    border-spacing: 0; }
    .body-price-wrap-section table tr td {
      height: 42px;
      border-bottom: 1px solid #eee; }

.body-price-wrap-section-button {
  background: #f8f9fb;
  height: -webkit-calc(515px + 2px - (75px + 75px + 271px));
  height: calc(515px + 2px - (75px + 75px + 271px)); }
  .body-price-wrap-section-button input {
    margin: 29px 0 0 0;
    width: 170px;
    height: 40px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background: #4e525d;
    border: 0;
    color: #fff;
    cursor: pointer; }
    .body-price-wrap-section-button input:hover {
      background: #49cbcd; }
    .body-price-wrap-section-button input:hover .body-price-wrap-section h4 {
      background: #49cbcd; }
    .body-price-wrap-section-button input:active {
      color: #2e2e2e; }

.footer-wrap {
  height: 685px;
  width: 100%;
  background: url(../img/footer-bg.png); }
